body {
    margin: 0;
    padding: 0;
  }
  .sample-header {
    width: 100%;
    height: 100%;
    /* background-color: cadetblue;
    background-image: url("img/fon.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
  }
  /* .sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: MidnightBlue;
    opacity: 0.3;
  } */
  .sample-header-section {
    position: relative;
    padding: 15% 0 10%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.167);
    font-family: Comic Sans MS, Comic Sans, cursive;
  }
  .sample-header-section h1 {
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .sample-header-section h2 {
    font-weight: 400;
    font-size: medium;
    color: #fdffe1;
  }
  .sample-section-wrap {
    position: relative;
    background-color: white;
  }
  .sample-section {
    position: relative;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  
  .menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
    background: white;
  }
  .logo{
    width: 100px;
    height: auto;
  }
  .menu-main li {
    display: inline-block;
  }
  .menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 30px 60px;
    font-family: FreeMono, monospace;
    color: #3b3b3b;
    position: relative;
  }
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #40b04f;
    opacity: 0;
    transition: .5s ease-in-out;
  }
  .menu-main a:before {left: 5px;}
  .menu-main a:after {right: 5px;}
  .menu-main a.current:before,
  .menu-main a.current:after,
  .menu-main a:hover:before, 
  .menu-main a:hover:after {opacity: 1;}
  .menu-main a.current,
  .menu-main a:hover {color: #230f64;}
  @media(max-width:680px) {
    .menu-main li {display: block;}
  }
  .card-img-top {
    height: 200px;
  }